@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: 'Roboto', sans-serif;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.headerBackground {
	position: absolute;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url("../images/kiddos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(5px) grayscale();
	        filter: blur(5px) grayscale();
	z-index: -1;
}

#name {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 1;
	background: transparent;
}

#name img {
	width: 25%;
	-webkit-animation: coffee 0.3s step-end infinite;
	        animation: coffee 0.3s step-end infinite;
}

#quotes {
	width: 100%;
	background: #e7ef00;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	font-weight: bold;
	text-align: center;
}

#quotes div {
	margin: 20px;
	width: 30%;
	border-left: 6px solid #222;
}

#quotes div p {
	font-size: 1.3em;
	padding-left: 15px;
	text-shadow: 1px 1px #ffc6c6;
}

#videoFeature {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #222;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	color: #e7ef00;
	text-align: center;
	border-bottom: 10px solid #e7ef00;
}

#videoFeature div {
	margin: 20px;
}

#social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	background-color: #222;
	color: #e7ef00;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#social ul {
	list-style: none;
	margin: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#social ul li {
	margin: 40px 15px;
}

#footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #e7ef00;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 10px;
	margin-right: 20px;
}

.link:hover {
	color: #ffc6c6;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

a {
	text-decoration: none;
	color: #e7ef00;
}


a:visited {
	color: #e7ef00;
}

@-webkit-keyframes coffee {
	0% {
		-webkit-transform: translate(0px, 0px);
		        transform: translate(0px, 0px);
	}
	20% {
		-webkit-transform: translate(-1px, 1px);
		        transform: translate(-1px, 1px);
	}
	40% {
		-webkit-transform: translate(0px, -1px);
		        transform: translate(0px, -1px);
	}
	60% {
		-webkit-transform: translate(1px, 1px);
		        transform: translate(1px, 1px);
	}
	80% {
		-webkit-transform: translate(-1px, -1px);
		        transform: translate(-1px, -1px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
		        transform: translate(0px, 0px);
	}
}

@keyframes coffee {
	0% {
		-webkit-transform: translate(0px, 0px);
		        transform: translate(0px, 0px);
	}
	20% {
		-webkit-transform: translate(-1px, 1px);
		        transform: translate(-1px, 1px);
	}
	40% {
		-webkit-transform: translate(0px, -1px);
		        transform: translate(0px, -1px);
	}
	60% {
		-webkit-transform: translate(1px, 1px);
		        transform: translate(1px, 1px);
	}
	80% {
		-webkit-transform: translate(-1px, -1px);
		        transform: translate(-1px, -1px);
	}
	100% {
		-webkit-transform: translate(0px, 0px);
		        transform: translate(0px, 0px);
	}
}